@import './colors.scss';
@import './semantic-ui/index.scss';

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit.ttf') format('truetype');  /* Ruta relativa al archivo .ttf descargado */
  font-weight: 100, 400, 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit' !important;
}

body {
  color: $text-primary;
  font-family: 'Outfit' !important;
  max-width: 100vw;
}

h2 {
  margin: 0;
}

i {
  font-family: Icons !important;
}